﻿@model WebAppOOP.Models.Persona

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Carnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Carnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cedula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
